body {
  background-color: teal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: 100%;
}

html {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  justify-content: end;
  align-items: center;

  width: 95%;
  height: 530px;

  margin: 24px;
  padding-top: 4px;
}

img {
  width: 80px;
  height: 500px;

  object-fit: cover;
  border-radius: 100px;

  margin-right: 24px;
}

/*Principal Desktop Card*/

.card-container-principal {
  background-color: red;
}

.card-container-principal img {
  position: absolute;
  top: 40px;
  left: 50px;

  width: 750px;

  border-radius: 40px;
}
.cards-info {
  position: absolute;
  top: 460px;
  left: 80px;

  width: 450px;

  border-radius: 40px;
  font-size: x-large;
}
